@import "tailwindcss";

.navItem {
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #7a1c1c;
}

.navItem::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #7a1c1c;
  transition: width 0.3s ease;
}

.navItem:hover::after {
  width: 100%;
}

/* Fade In Up Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease forwards;
}


/* Floating Image Animation */

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}